  <!DOCTYPE html>
  {% load static %}
     <div class="container lotto">
          {% for lotto in lottos %}
              <h2>{{lotto.text}}</h2>
              <div class="page-header">
                  <h1>My Lotto Page
                      <a href="{% url 'new_lotto' %}">
                          <span class="glyphicon glyphicon-plus btn btn-default">
                            </span>
                      </a>
                  </h1>
    </div>

<h2><a href="{% url 'detail' pk=lotto.pk  %}">{{lotto.text}}</a></h2>

  <p>last update : {{lotto.update_date}} by {{lotto.name}}</p>
  <p>{{lotto.lottos|linebreaksbr}}</p>
  {% endfor %}

<a href="{% url 'new_lotto'%}">
            <input type="submit" value="로또 번호 생성!!" class="btn btn-danger rounded-pill col-6 mt-3">
</a>

</div>
<link rel="stylesheet" href="{% static 'base.css'%}">